header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo-container {
    margin-left: 20px;
    background-image: url('../images/logo.png'); /* Adjust the path based on your file structure */
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px; /* Set the width of the logo container */
    height: 40px; /* Set the height of the logo container */
}
